<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>store_data</servlet-name>
        <servlet-class>store_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>store_data1</servlet-name>
        <servlet-class>store_data1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin_authentication</servlet-name>
        <servlet-class>signin_authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_experience</servlet-name>
        <servlet-class>a_experience</servlet-class>
    </servlet>
 
    <servlet>
        <servlet-name>a_edu1</servlet-name>
        <servlet-class>a_edu1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e_company</servlet-name>
        <servlet-class>e_company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e_vacancy</servlet-name>
        <servlet-class>e_vacancy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_personal</servlet-name>
        <servlet-class>a_personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_prof</servlet-name>
        <servlet-class>view_prof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply</servlet-name>
        <servlet-class>apply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formapply</servlet-name>
        <servlet-class>formapply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_profile</servlet-name>
        <servlet-class>view_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_request</servlet-name>
        <servlet-class>a_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approve</servlet-name>
        <servlet-class>approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>graph_det</servlet-name>
        <servlet-class>graph_det</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e_approval</servlet-name>
        <servlet-class>e_approval</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>store_data</servlet-name>
        <url-pattern>/store_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>store_data1</servlet-name>
        <url-pattern>/store_data1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin_authentication</servlet-name>
        <url-pattern>/signin_authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_experience</servlet-name>
        <url-pattern>/a_experience</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>a_edu1</servlet-name>
        <url-pattern>/a_edu1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e_company</servlet-name>
        <url-pattern>/e_company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e_vacancy</servlet-name>
        <url-pattern>/e_vacancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_personal</servlet-name>
        <url-pattern>/a_personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_prof</servlet-name>
        <url-pattern>/view_prof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply</servlet-name>
        <url-pattern>/apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formapply</servlet-name>
        <url-pattern>/formapply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_profile</servlet-name>
        <url-pattern>/view_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_request</servlet-name>
        <url-pattern>/a_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approve</servlet-name>
        <url-pattern>/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>graph_det</servlet-name>
        <url-pattern>/graph_det</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e_approval</servlet-name>
        <url-pattern>/e_approval</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
